<div class="row mt-5 mb-3">
  <div class="col-12">
    <h2>{{ currentBlog.title }}</h2>
    <p>Posted by {{ currentBlog.author }} on {{ currentBlog.created | date}}</p>
    <p *ngIf="currentBlog.tags != undefined && currentBlog.tags.length > 0">
      Tags : <span *ngFor="let tag of currentBlog.tags; let last=last">{{tag}}{{last ? ' ' : ', '}}</span>
    </p>
    <p [innerHtml]="currentBlog.bodyHtml"></p>
    <p>{{ currentBlog.category}}</p>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <button class="btn btn-primary">Edit</button>
  </div>
  <div class="col-4">
    <button class="btn btn-danger">Delete</button>
  </div>
  <div class="col-4">
    <button class="btn btn-warning" routerLink="/home">Back</button>
  </div>
</div>